*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.pageone{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.0),
  rgba(0,0,0,0.0)),url(desktop.jpg);
  background-position: center;
  background-size: cover;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top:1%;
  padding-left: 2%;
  padding-right: 10%;
  background-color: crimson;

}
nav ul{
  background-color: crimson;
  border-radius: 100px;
}
nav ul:hover{
  background-color:green;
  border-radius: 100px;
  cursor: pointer;
}
nav ul li{
  display:inline-block;
  padding: 10px;
}
nav ul li a:hover::after{
  color: black;
}
nav ul li a{
  text-decoration: none;
  font-weight: bolder;
  color: aliceblue;
  font-size: 18px;
}
.logo{
  color: aliceblue;
  font-size: 50px;
}
.logo span{
  color: red;
}
.heading{
  color:aliceblue;
  padding-top: 7%;
  padding-left: 1.5%;
  font-size: 66px;
}
.description{
  color: yellow;
  line-height: 1.9;
  font-size: 20px;
  padding-left: 1.5%;
}

/*------------page two-----------------*/
.pagetwo{
  width: 100%;
  height: 100vh;
  color: white;
  background-color: black ;
  background-position: center;
  background-size: cover;
}
.pagetwo h1{
  text-align: center;
  color: chartreuse;
}
.pagetwo h3{
  text-align: center;
}
.pagetwo h4{
  text-align: center;
}
.productlist{
  padding-top: 2%;
  font-size: 50px;
  color: white;
}
.prolist{
  padding-top: 9px;
  box-sizing: border-box;
  text-align: justify;
  padding-left: 9px;
  width: 280px;
  height: 560px;
  background-color:rgb(22, 22, 22);
  border-radius: 20px;
  margin: 25px;
  
}
img{
  width: 250px;
  height:300px;
}
.gallery{
  display: flex;
  width: 100%;
  margin: 30px 0;
  
}
ul{
  list-style-type: none;
  
}
ul li a{
  text-decoration: none;
  color: white;
  line-height: 1.6;
}
.order{
  background-color: #4CAF50;
  border-radius: 20px;
  color: white;
  padding: 4px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.page7{
  width: 100%;
  height: 100vh;
  background-color: black;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}
.about{
  padding-top: 10%;
  font-size: 50px;
}
.aboutus{
  line-height: 1.9;
  text-align: justify;
  padding-right: 7%;
  padding-left: 7%;
  font-size: 18px;
  padding-top: 1%;
}
.page7 span{
  color:red;
  font-weight: bolder;
  background-color: aliceblue;
  border-radius: 4px;
}

.page8{
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(0,0,0,0.6),
  rgba(0,0,0,0.6)),url(contact-us.jpg);
  background-position: center;
  background-size: cover;
  line-height: 2.5;
  padding-left: 2%;
}
.contact-us{
  font-size: 50px;
  color: aliceblue;
  padding-left: 4%;
}
.contlist{
  text-decoration: none;
  color: white;
}
.page8 ul li a{
  color: aliceblue;
  font-size: 20px;
}
.location{
  color: aliceblue;
  font-size: 20px;
}
.page8 span{
  color: red;
}
.facebook{
  font-size: 25px;
  border-radius: 2px;
}


